In [1]:
def test1():
    print("hi hello")

test1()

hi hello

In [3]:
a=test1()

hi hello

In [4]:
a

In [5]:
type(a)

NoneType

In [6]:
str(a)

'None'

In [8]:
def test2():
    return("hello!!")
type(test2())

str

In [9]:
test2()+"meena"

'hello!!meena'

In [10]:
def test4():
    return 4,2, 'meena',[1,2,3,5,6]
test4()

(4, 2, 'meena', [1, 2, 3, 5, 6])

In [11]:
def test5():
    a=6*7/6
    return a
test5()

7.0

In [20]:

def test(a):
    z=[]
    y=[]
    if type(a) == list:
        for i in a:
            if type(i) == int:
                z.append(i)
            elif type(i) == list:
                for j in i:
                    if type(j)==int:
                        z.append(j)
    return z

In [21]:
test([4,5,6,2,3,"meena",[1,2,5,6,7]])

[4, 5, 6, 2, 3, 1, 2, 5, 6, 7]

In [34]:
def test(a):
    if type(a)==dict:
        b= a.keys
        return b
    else:
        return "plz pass dictionary"

In [35]:
test({'name':['12',12,3,5,6,8,], 'age':[4,5,6,2,5]})

In [36]:
test("dhdhfgjs")

'plz pass dictionary'

In [29]:
a={'name':['12',12,3,5,6,8,], 'age':[4,5,6,2,5]}

In [31]:
n= test(a)

In [33]:
print(n)

<built-in method keys of dict object at 0x000001CBA0D07100>

In [42]:
def test(n):
    """ This is a function to create triangle with any number of rows"""
    for i in range(0,n):
        for j in range(0,i+1):
            print('*', end='')
        print("\r")

In [43]:
test(14)

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************

In [69]:
rw = 4
tri = 1
for i in range(0,4):
    for space in range(0,rw-1):
        print(' ',end=" ")
    rw-=1
    for k in range(0,tri):
        print('*',end=" ")
    tri+=2
    print("\r")

      *
    * * *
  * * * * *
* * * * * * *

In [80]:
row=int(input("enter the number of rows: "))
r=1
t= int((row*2)-1)
for i in range(0,row):
    for space in range(0,r):
        print(' ',end=" ")
    r+=1
    for tri in range(0,t):
        print('*',end=' ')
    t-=2
    
    print("\r")

enter the number of rows: 6
  * * * * * * * * * * *
    * * * * * * * * *
      * * * * * * *
        * * * * *
          * * *
            *